/* CSS files add styling rules to your content */

body {
  padding: 0; 
  margin: 0
  font-family: Monospace !important; 
  background-color: #595959;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
h1 {
  font-family: Monospace !important;
  font-style: bold;
  color: #373fff;
}
